# Options +Indexes +FollowSymLinks +MultiViews

AuthType Basic
AuthName "You shall not pass"
AuthUserFile /srv/www/dev-fedotov-zdravservice.webgk.ru/htdocs/ws/.htpasswd
Require valid-user
Order deny,allow
Deny from all
Allow from 127.0.0.1
Satisfy any
